body{
    background-color: rgb(238, 234, 230);
}

#subbody{
    padding: 20vh;
    background-color: rgb(253, 248, 254);

}

.nav{
    background-color: rgb(98, 79, 116);
    color: rgb(243, 243, 243);
    border: 0;
    margin: 0;
    height: 40px;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    padding: 2% 3% ;
    justify-content: space-between;
   
}

h1{
    color: black;
    font-size: xx-large;
}